@page
@using DiscordBotNet.Database
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Blessings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DiscordBotNet.Pages.blessings.Index
@inject PostgreSqlContext Context


@{
    Layout = "Shared/_NavigationLayout";
}

<!DOCTYPE html>

<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="css/CharactersnBlessings.css">
    <title>Blessings</title>

</head>


<body style="background-color: grey;">

<div id="all_filters_parent">
    <form method="get" id="filters">
        <input type="text" name="name" value="@Model.Name"/>

        <select name="sort">
            <option value="level" selected>Level</option>
            <option value="name">Name</option>
            <option value="element">Element</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>

@{

    var color = "white";
    IEnumerable<Blessing> filteredBlessingsEnumerable = Model.Blessings;



    if (Model.Name.Length > 0)
    {
        filteredBlessingsEnumerable = filteredBlessingsEnumerable.Where(i => i.Name.ToLower().Contains(Model.Name.ToLower()));
    }

    switch (Model.Sort)
    {

        case "name":
            filteredBlessingsEnumerable = filteredBlessingsEnumerable.OrderBy(i => i.Name);
            break;
        default:
            filteredBlessingsEnumerable = filteredBlessingsEnumerable.OrderBy(i => i.Level);
            break;

    }
    var filteredBlessings = filteredBlessingsEnumerable.ToArray();

}
<div id="total_alls">
    @for (var i = 0; i < filteredBlessings.Length; i++)
    {

        <div class="alls_row_div alls_row_div_@color">
            @{
                var theI = i;
            }

            @for (var j = i; j <= theI + 4 && j < filteredBlessings.Length; j++)
            {
                var blessing = filteredBlessings[j];
                <div style="display: flex;" class="div">

                    <img src="@blessing.ImageUrl" style="width: 100px; height: 100px;"/>

                    <div style="position: relative; margin-left: 20px;">
                        <p style="position: relative; ">Name: @blessing.Name</p>
                        <p> Level: @blessing.Level</p>
                    </div>

                </div>

                i = j;

            }

        </div>
        if (color == "white")
        {
            color = "gray";
        }
        else
        {
            color = "white";
        }
    }
</div>

</body>
</html>