/* Main container */

.navigator-container {
  
    width: 280px;
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-width: 1px;

    height: 100%;
}
.dark-mode-toggle-button{
    margin: auto; user-select: none;
}
.child-content-stuff{
    
    width: 100%; 
    height: 100%; 
    overflow: scroll;
}
.navigator-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-link-icon {

    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 17px;
    margin-left: 17px;
}

.navigator-inner {
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}


.navigator-inner p {
    margin: auto;

    font-size: 22px;
}

.link-container a:link {
    text-decoration: none;
}

.link-container a:visited {
    text-decoration: none;
}

* {
    transition: background-color var(--theme-transition-time), color var(--theme-transition-time);
}


.icon-clickable:active {
    text-decoration: none;
   
}
.dark-mode-changer-div{
    border-radius: 100%;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    width: 65px; height: 65px; display: flex; margin-bottom: 30px; margin-top: auto; margin-left: auto; margin-right: auto;
}
.dark-mode-changer-div > span{
    font-size: 40px;
}
/* Individual link container */
.link-container {
    height: 60px;
    display: flex;

    width: 100%;

}


.icon-clickable-dark:hover {
    background-color: #565756;
}
.icon-clickable-light:hover {
    background-color: lightgrey;
}


/* Link styling */
.link-container a {

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    height: 100%;
    
}

p {
    font-weight: bold;
}

.link-container a p {

    margin-top: auto;
    margin-bottom: auto;

    font-size: 20px;
}

@media only screen and (max-width: 600px) {


    .link-container, .link-container > a, .dark-mode-changer-div {
        margin: auto;
    }
    .link-container > a > p {
        display: none;
    }
    .navigator-inner {
        display: none;
    }
    .navigator-container {
        border-right-style: none;
        border-bottom-style: solid;

        flex-direction: row;
        width: 100%;
        height: 70px;
    }
    .navigator-outer {
        flex-direction: column;
    }
    .nav-link-icon {
        margin: auto;
        width: 25px;
        height: 25px;
    }
    .icon-clickable{
        border-radius: 100%;
        width: 50px;
        height: 50px;
        
    }
    .icon-clickable > a > span,
    .icon-clickable > span{
        font-size: 24px;
    }
}