/* Main container */

.navigator-container {
    position: sticky;
    width: 280px;

    border-right-style: solid;
    border-width: 1px;

    height: 100%;
}

.navigator-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-link-icon {

    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 17px;
    margin-left: 17px;
}

.navigator-inner {
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}


.navigator-inner p {
    margin: auto;

    font-size: 22px;
}

.link-container a:link {
    text-decoration: none;
}

.link-container a:visited {
    text-decoration: none;
}

.link-container a {
    transition: background-color 0.3s;
}

.link-container a:active {
    text-decoration: none;

}

/* Individual link container */
.link-container {
    height: 60px;
    display: flex;

    width: 100%;

}

.link-container-dark a:hover {
    background-color: black;
}
.link-container-light a:hover {
    background-color: lightgrey;
}


/* Link styling */
.link-container a {

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    height: 100%;
    border-radius: 50px 50px 50px 50px;
}

p {
    font-weight: bold;
}

.link-container a p {

    margin-top: auto;
    margin-bottom: auto;

    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .link-container a {
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 10px 10px 10px 10px;
    }

    .link-container {
        margin: auto;
        width: 70px;
        height: 70%;
    }

    .link-container a p {
        display: none;

    }

    .navigator-inner {
        display: none;
    }

    .navigator-container {
        border-right-style: none;
        border-bottom-style: solid;

        display: flex;
        width: 100%;
        height: 70px;
    }

    .navigator-outer {
        display: block;
    }

    .nav-link-icon {
        margin: auto;
        width: 25px;
        height: 25px;
    }

}