@page "/character-info/{CharacterNumber:int}"
@using System.Security.Claims
@using DiscordBotNet.Database
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Gears
@using DiscordBotNet.WebsiteStuff.Components.Navigation
@using DiscordBotNet.WebsiteStuff.Pages.Characters
@using DiscordBotNet.WebsiteStuff.Pages.Gears
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore

@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@inject PostgreSqlContext DbContext

@code {

    [Parameter] public int CharacterNumber { get; set; }
    private ClaimsPrincipal user;

    public Character Character { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        var discordId = user.GetDiscordUserId();
        Character = await DbContext.Characters.Where(i => i.UserData.DiscordId == discordId
                                                          && i.Number == CharacterNumber)
            .Include(i => i.Blessing)
            .Include(i => i.Gears)
            .ThenInclude(i => i.Stats)
            .Include(i => i.UserData)
            .FirstOrDefaultAsync();
    }

}


<Navigation>
    @if (Character is not null)
    {
        <div style="  max-width: fit-content;
  margin-left: auto;
  margin-right: auto; display: flex; margin-top: 100px">
            <div>
                @{
                    foreach (var i in (Type[]) [typeof(Weapon), typeof(Helmet), typeof(Armor)])
                    {
                        var gear = Character.Gears.FirstOrDefault(j => j.GetType() == i);
                        <div style="margin-bottom: 30px;">
                            <GearTile Size="150" Gear="gear"></GearTile>
                        </div>
                    }
                }
            </div>
            <div style="margin-left: 100px; margin-top: 200px; margin-right: 100px">
                <CharacterTile Level="Character.Level" Name=@Character.Name Number="Character.Number" Rarity="Character.Rarity" 
                               ImageUrl=@Character.ImageUrl></CharacterTile>
            </div>
            <div>
                @{
                    foreach (var i in (Type[]) [typeof(Necklace), typeof(Ring), typeof(Boots)])
                    {
                        var gear = Character.Gears.FirstOrDefault(j => j.GetType() == i);
                        <div style="margin-bottom: 30px;">
                            <GearTile Size="150" Gear="gear"></GearTile>
                        </div>
                    }
                }

            </div>
        </div>
    }

</Navigation>