@import '_content/WebsiteShared/WebsiteShared.bfn38vuex9.bundle.scp.css';

/* /Pages/Characters/Characters.razor.rz.scp.css */
.character-to-display[b-gbuuicddjv] {

    margin-right: 30px;
    margin-bottom: 30px;
    width: fit-content;
}

.advanced-filter-button[b-gbuuicddjv] {
    border-radius: 15px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-right: 30px;
    border: 0;

    background-color: white;
}

.image-box[b-gbuuicddjv] {
    width: 200px;
    height: 200px;
    border-radius: 10px; /* Controls the curvature of the edges */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
    background-color: #f0f0f0; /* Optional: adds a background color */
}

.image-box img[b-gbuuicddjv] {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Match this to the box's border-radius */
}

.character-image-p[b-gbuuicddjv] {
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0; /* Reduce space between paragraphs */
    font-size: 20px; /* Reduce paragraph font size */
}

@media only screen and (max-width: 600px) {
    .image-box[b-gbuuicddjv] {
        width: 100px;
        height: 100px;
    }

    .character-image-p[b-gbuuicddjv] {
        font-size: 10px;
    }

}

.some-para[b-gbuuicddjv] {
    margin-left: 30px;
    font-size: 20px;
    align-self: center;
}

.name-filter-search-icon[b-gbuuicddjv] {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

}

:root[b-gbuuicddjv] {
    --almost-black: #1A1A1A;

}

.filterer-percentage[b-gbuuicddjv] {
    width: 85%;
}

.input-div[b-gbuuicddjv] {

    margin-top: 20px;

    background-color: gray;
    display: flex;
    border-radius: 25px;
    width: 90%;
    height: 35px;

    margin-right: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

.name-filter[b-gbuuicddjv] {

    background-color: gray;
    width: 80%;
    outline: none;
    font-size: 20px;
    border: none;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 66%;
}

.filterer-outer[b-gbuuicddjv] {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    position: sticky;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;

}

.filterer-outer > *[b-gbuuicddjv] {
    margin-left: 20px;
}

.filterer-outer > p[b-gbuuicddjv] {
    color: white;
    font-size: 20px;
}

.advanced-filter[b-gbuuicddjv] {

    overflow-y: hidden;
    margin: auto;
    width: fit-content;
}

.advanced-filter p[b-gbuuicddjv] {
    color: white;
}

.advanced-filters-show[b-gbuuicddjv] {
    display: inline-block;
}

.filter-basic[b-gbuuicddjv] {


    width: 100%;
    display: flex;

    height: 80px;


}

.characters-container[b-gbuuicddjv] {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: auto;
    overflow: auto;

    height: 100vh;
}
