@page "/authentication/callback"
@using System.Text.Json.Nodes
@using Blazored.LocalStorage
@using Website.Services

@inject  NavigationManager Navigation
@inject  HttpClient HttpClient
@inject ILocalStorageService StorageService
@inject NavigationService NavService
@inject DiscordTokenService DiscordTokServ
<h1>Logging in...</h1>
@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);
        
        // Extract query parameters
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        
        // Retrieve the specific parameter value
        var code = queryParams["code"];
        var token = await HttpClient.GetFromJsonAsync<JsonObject>($"Discord/get-token?code={code}&redirectUri=" +
                                                              Uri.EscapeDataString(PublicInfo.Information.WebsiteDomainName+"/authentication/callback"));
        if (token is not null)
        {
            DiscordTokServ.DiscordToken = token["access_token"]?.GetValue<string>();
            if (NavService.InitialLocation is not null)
            {
                Navigation.NavigateTo(NavService.InitialLocation,true);
                NavService.InitialLocation = null;
            }

        }
        
    }
    

}