@import 'WebAssemblyApp.2k59gl6n2r.bundle.scp.css';
@import '_content/WebComponents/WebComponents.4qoep26l2e.bundle.scp.css';

/* _content/BlazorServer/WebsiteStuff/Pages/CharacterInfo/CharacterInfo.razor.rz.scp.css */
.gear-equipped-tile[b-u8twmt6746] {
    margin-bottom: 30px;
}

.collection-class[b-u8twmt6746] {
    background-color: gray;
    overflow: auto;
    width: 200px;
    height: 100vh;
}

/* _content/BlazorServer/WebsiteStuff/Pages/DiscordLogin.razor.rz.scp.css */
