.image-box {

    border-radius: 10px; /* Controls the curvature of the edges */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
    background-color: #f0f0f0; /* Optional: adds a background color */
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Match this to the box's border-radius */
}

p {
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0; /* Reduce space between paragraphs */
    font-size: 20px; /* Reduce paragraph font size */
}