/* /Pages/Characters/Characters.razor.rz.scp.css */
.character-to-display[b-gbuuicddjv] {

    margin-right: 30px;
    margin-bottom: 30px;
    width: fit-content;
}

.image-box[b-gbuuicddjv] {

    border-radius: 10px; /* Controls the curvature of the edges */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
    background-color: #f0f0f0; /* Optional: adds a background color */
}

.image-box img[b-gbuuicddjv] {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Match this to the box's border-radius */
}

.character-image-p[b-gbuuicddjv] {
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0; /* Reduce space between paragraphs */
    font-size: 20px; /* Reduce paragraph font size */
}

.some-para[b-gbuuicddjv] {
    margin-left: 30px;
    font-size: 20px;
    align-self: center;
}
.name-filter-search-icon[b-gbuuicddjv] {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
}
.input-div[b-gbuuicddjv]{
    display: flex;
    border-radius: 50px;
    width: 400px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border: black;
    border-width: 2px;
    border-style: solid;
}
.name-filter[b-gbuuicddjv] {
    width: 350px;
    outline: none;
    font-size: 30px;
    border: none;
    
    margin-top: auto;
    margin-bottom: auto;

    height: 66%;
}

.filterer-outer[b-gbuuicddjv]{
    position: sticky;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: flex;
    width: 100%;
    height: 80px
}
.filterer-inner[b-gbuuicddjv] {
    
    
    width: fit-content;

    margin: auto;
    height: 100%;
    display: flex;

}

.characters-container[b-gbuuicddjv] {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-left: 50px;
    padding-top:  20px;
    margin-right: auto;
    overflow: auto;

    height: 100vh;
}
