@page "/"

@using System.Security.Claims
@using Website.Components.Navigation

@inject AuthenticationStateProvider StatProv


@code
{
    private ClaimsPrincipal _user = null!;
    protected override async Task OnInitializedAsync()
    {
        _user = (await StatProv.GetAuthenticationStateAsync()).User;
    }
}
<Navigation>
    @if (_user?.Identity?.IsAuthenticated ?? false)
    {
        <p>YAY</p>
    }
    else
    {
        <p>aww</p>
    }
</Navigation>