.team-character-div img{
    height: 100%;

    aspect-ratio: 1/1;
    border: none;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: black solid 2px;

}
.equip-button{
    
    flex-shrink: 0; background-color: limegreen; border: none;
    border-radius: 5px; color: inherit;
    border: solid;
    border-width: 2px;
    
}
.equip-button:hover{
    background-color: green;
}
.inputs{
    margin-top: 10px;
    margin-bottom: 10px;
}
.inputs > *{
    margin: auto;
    width: 85px; height: 30px
    
}
.loading-or-failure-div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loading-or-failure-div > div{
    display: flex;
    width: 70%; height: 100%;
    justify-content: center;
    align-items: center
}
.inputs input{
    width: 80px;
    height: 20px;
    border-radius: 5px;
}
.inputs select{
    width: 100px;
}
.inputs button{
    width: 75px;
}
.team-settler{
    margin-top: auto; margin-bottom: auto; height: fit-content;  margin-left: 20px;
}
.za-parent{
    display: flex; height: 100%; width: 100%
}
.team-character-div a{
    width: fit-content;
    height: 100%;
    border-radius: inherit;
}
.team-character-div{

    border: black solid 2px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;

    height: 100px;
    width: 300px;
}
.delete-bin-div{
    margin: auto 15px auto auto; display: flex;
    justify-content: center; align-items: center; background-color: red; width: 40px; height: 40px; border-radius: 100%;
    
}
.delete-bin-div{
    cursor: pointer;
}
.delete-bin-div *{
    user-select: none;
}
.team-characters-container{
   
    height: fit-content;
}
.team-character-div:last-child{
    margin-bottom: 0;
}
.team-character-div p{
    margin: 0;
    font-weight: bolder;
    font-size: 20px;

}
.others{
    margin-left: 40px;
}
.other-characters{
   
    gap: 10px;
    margin-right: auto;
    display: flex;
    flex-flow: wrap;
    width: fit-content;
    height: 100%;
   
}
.character-div img{
    border: black solid 2px;
    border-radius: 20px;
}

.character-div p{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.other-characters img{
    width: 150px;
    height: 150px;
    background-color: blue;
}
.paragraphs{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: auto;
}
.other-characters{
    height: fit-content;
}
.inputs{
    display: flex; width: 100%;
}
.team-settler{
    width: fit-content;
}
 .team-character-div .minor-info{
    font-size: 13px; font-weight: bold;
}
 
 .filter-class{

     display: flex;
     height: fit-content;
 
     border-radius: 5px;
     width: fit-content;
 }
 .others-parent{
     width: 100%;
     height: 100%;
     border-left: black solid 1px;
    margin-left: 30px;
 }
 .others{
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
 }
 .filters{
     display: flex;
     flex-shrink: 0;
     flex-grow: 0;
     height: 68px;
     justify-content: center;
     gap: 30px;
 }
 .filters > *{
     margin-top: auto;
     margin-bottom: auto;
 }
.other-characters-parent{
    overflow-y: scroll;
    flex-grow: 1;
    border-top: black solid 1px;
    padding-top: 10px;
}
.others span{
    margin-right: -30px;
    z-index: 3;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.others > *{
    padding-left: 30px;
}
.others{
    margin-left: 0;
    margin-right: auto;
    margin-bottom: auto;
    
}
 .others input[type=text]{
     border: black solid 2px;
     display: flex;
    background-color: gray;
    z-index: 2;
   
     height: 30px;
     width: 300px;
     font-size: 18px;
     border-radius: 5px;
     padding-left: 30px;
 }
 .others  input[type=checkbox]{
     width: 25px;
     height: 25px;
 }
@media only screen and (max-width: 1200px){
    .others input[type=text]{
        width: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .others-parent{
        margin: 0;
        margin-top: 10px;
        border: 0;
        border-top: black 1px solid;
    }
    .others > *{
        padding-left: 0;
    }
    .others input[type=text]{
        height: 25px;
        width: 150px;
        font-size: 15px;
    }
    .others span{
        margin-right: -25px;
        font-size: 20px;
    }
    
    .za-parent{
        flex-direction: column;
    }
    .character-div img{
        width: 100px;
        height: 100px;
    }
    .team-settler{
        margin:auto;
    }
    .team-characters-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .team-characters-container > *{
       margin-bottom: auto;
        margin-top: auto;
        
    }

    .character-div p{
        
        margin-top: 2px;
       font-size: 15px;
    }
    .others{
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        margin-left: 0;
        
    }
    .other-characters-parent{
        overflow-y: hidden;
        overflow-x: scroll;
        height: fit-content;
    }
    .other-characters{
       
        height: fit-content;
        width: 100%;
        flex-wrap: nowrap;
        
    }
    @media only screen and (max-height: 750px) {
        
        .character-div img{
            width: 80px;
            height: 80px;
        }

        .others-parent{
            margin-top: 5px;
        
        }
        .character-div p{
    
            margin-bottom: 1px;
        }
        .team-character-div{
            height: 80px;
        }
   
    }

}
