/* Main container */
.navigator-container[b-x4veywg1kk] {
    position: sticky;
    width: 280px;
    
    border-right-style: solid;
    border-width: 1px;
    border-color: darkgray;
    height: 100vh;
    background-color: #1A1A1A;
}

.navigator-outer[b-x4veywg1kk]{
    display:  flex; width: 100%; height: 100%;
}
.nav-link-icon[b-x4veywg1kk]{
    color: white;
    width: 25px; height: 25px; margin-top:  auto;
    margin-bottom: auto;
    margin-right: 17px; margin-left: 17px;
}
.navigator-inner[b-x4veywg1kk]{
    display: flex; width: 100%; height: 70px;
    margin-bottom: 10px;
}


.navigator-inner p[b-x4veywg1kk]{
    margin: auto; color: lightgray; font-size: 22px;
}
.link-container a:link[b-x4veywg1kk] {
    text-decoration: none;
}
.link-container a:visited[b-x4veywg1kk] {
    text-decoration: none;
}
.link-container a[b-x4veywg1kk]{
    transition: 0.3s;
}

.link-container a:active[b-x4veywg1kk] {
    text-decoration: none;

}
/* Individual link container */
.link-container[b-x4veywg1kk] {
    height: 60px;
    display: flex;

    width: 100%;

}

.link-container a:hover[b-x4veywg1kk]{
    background-color: black;
}
/* Link styling */
.link-container a[b-x4veywg1kk] {

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    height: 100%;
    border-radius: 50px 50px 50px 50px;
}
p[b-x4veywg1kk]{
    font-weight: bold;
}
.link-container a p[b-x4veywg1kk]{

    margin-top: auto;
    margin-bottom: auto;
    color: lightgrey;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .link-container a[b-x4veywg1kk]{
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 10px 10px 10px 10px;
    }
    .link-container[b-x4veywg1kk]{
        margin: auto;
        width: 70px;
        height: 70%;
    }
    .link-container a p[b-x4veywg1kk]{
        display: none;

    }
    .navigator-inner[b-x4veywg1kk]{
        display: none;
    }
    .navigator-container[b-x4veywg1kk]{


        display: flex;
        width: 100%;
        height: 70px;
    }
    .navigator-outer[b-x4veywg1kk]{
        display:  block;
    }
    .nav-link-icon[b-x4veywg1kk]{
        margin: auto;
        width: 25px;
        height: 25px;
    }

}