html, body, #app {
    height: 100%;
    width: 100%;

    
    margin: 0;
}
html{
    position: fixed;
}
body, #app{
    position: relative;
}
:root{
    --theme-transition-time: 0.3s;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}