
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<ul class="sidenav">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
@code{

    [Parameter] public RenderFragment ChildContent { get; set; }

}
<div class="content">
    @ChildContent
</div>

</body>
