/* _content/DiscordBotNet/WebsiteStuff/Components/Navigation/HorizontalNavBar.razor.rz.scp.css */
body[b-myibej91lh] {margin: 0;}

ul.sidenav[b-myibej91lh] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a[b-myibej91lh] {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active[b-myibej91lh] {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active)[b-myibej91lh] {
    background-color: #555;
    color: white;
}

div.content[b-myibej91lh] {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav[b-myibej91lh] {
        width: 100%;
        height: auto;
        position: relative;
    }

    ul.sidenav li a[b-myibej91lh] {
        float: left;
        padding: 15px;
    }

    div.content[b-myibej91lh] {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a[b-myibej91lh] {
        text-align: center;
        float: none;
    }
}
/* _content/DiscordBotNet/WebsiteStuff/Components/Navigation/Navigation.razor.rz.scp.css */
/* _content/DiscordBotNet/WebsiteStuff/Components/Navigation/Suree.razor.rz.scp.css */
body[b-syw6izhcif]{
    background-color: red;
}
/* _content/DiscordBotNet/WebsiteStuff/Components/Navigation/VerticalNavBar.razor.rz.scp.css */
body[b-y07mak7flh] {
    margin: 0;
}

ul[b-y07mak7flh] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a[b-y07mak7flh] {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active[b-y07mak7flh] {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active)[b-y07mak7flh] {
    background-color: #555;
    color: white;
}
