.alls_row_div {
    position: relative;
    top: 80px;

    align-items: center;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

#all_filters_parent {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 30px;
    z-index: 2;
}

#all_filters {
    height: fit-content;
    position: relative;
    width: fit-content;
}

#total_alls {
    border: 10px black;
    position: relative;
    width: 100%;
    height: fit-content;
    align-items: center;

}

.alls_row_div_gray {
    background-color: gray;
}

.alls_row_div_white {
    background-color: white;
}

.all_div {

    position: relative;
    align-items: center;
    width: 20%;
    height: 200px;
}
