#welcome {
    position: relative;
    top: 80px;
    margin: auto;
    font-size: 80px;
}

#welcome_div {
    top: 80px;
    text-align: center;
    position: relative;
    align-items: center;
}

#user_picture {
    position: relative;
    top: 160px;
    width: 200px;
    height: 200px;
}

#level {
    position: relative;
    top: 180px;
    font-size: 30px;
}