#team_main_div {
    position: relative;
    display: flex;
    top: 100px;
    height: 115px;
    width: 80%;
    overflow-x: scroll;
}

.character_in_team_div {
    margin-right: 20px;
}

.character_div {

    margin-right: 20px;
    display: flex;
}

#team_select_div {
    position: relative;
    top: 140px;
}

.super_character_div {
    border: 3px solid black;
}

.character_details {
    position: relative;
    margin-left: 20px;
}

.image_class {

    width: 110px;
    height: 110px;
}

#character_list_div {

    background-color: gray;
    position: relative;
    left: 80%;
    top: -70px;
    height: 100%;
    min-width: 20%;
    width: fit-content;
    overflow-y: scroll;
}

.character_in_list_div {

    margin-top: 10px;
    margin-bottom: 10px;
}