@page "/items"

@using Microsoft.AspNetCore.Authorization
@using Website.Services
@using Website.Components
@inject WebsiteThemeService WebsiteThemeService



@inject HttpClient Http
@attribute [Authorize]
@code{

    private ItemDto[]? ItemCollection;

    protected override async Task OnInitializedAsync()
    {
        ItemCollection = await Http.GetFromJsonAsync<ItemDto[]>("/ItemsPage/get-items");

    }

    private enum SortType
    {
        Name, Rarity, Stacks
    
    }


    private IEnumerable<ItemDto>? UsingItemCollection
    {
        get
        {
            if (ItemCollection is null)
                return null;
            var theEnumerable = ItemCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderBy(i => i.Name);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
                case SortType.Stacks:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Stacks);
                    break;
            }

            return theEnumerable;
        }
    }





    public IEnumerable<string> AddStuff(ItemDto blessingDto)
    {
        yield return $"Stacks: {blessingDto.Stacks}";
    }
    private SortType SortTypeVal { get; set; } = SortType.Name;
    public bool reverseOrder;
}

<InventoryEntitiesShower Additionals="AddStuff" BackgroundCol='dto => "white"'
                         RarityDelegate="dto => dto.RarityNum" ObjectsToRender="() 
=> UsingItemCollection"
                         NameDelegate="dto => dto.Name"
                         ImageUrlDelegate="dto => dto.ImageUrl"
                         TObjectType="ItemDto">
    <SorterStuff>
        <p>Sort By</p>
        <select @bind="SortTypeVal" class="filterer-percentage" style="height: 30px; width: 80%">

            @foreach (var i in Enum.GetValues<SortType>())
            {
            <option  value="@i">@i</option>
            }

        </select>
    </SorterStuff>

</InventoryEntitiesShower>

