.blessing-holder {

    border-right: solid 1px;

    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 0;
}

.parent {
    display: flex;
    width: 100%;
    height: 100%;
}

.characters-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blessing-details {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px
}

.blessing-details p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.filterer {
    height: 50px;
    border-bottom: solid 2px;
    flex-shrink: 0;
}

.character-containers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    gap: 20px;
    overflow-y: auto;
    height: 0;
}

.character-containers > div {
    width: 100px;

    min-height: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

.character-containers p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.character-containers img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    visibility: visible;
    border: solid 2px;
    border-radius: 10px;
}

.unequip-button {
    border: solid 2px;
    height: 25px;
    border-radius: 7px;
    background-color: red;
    width: 90%;
    color: inherit;
}

.unequip-button:hover {
    background-color: darkred;
}

.blessing-details img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border: solid 2px;
    border-radius: 10px;

}

.blessing-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold
}

@media only screen and (max-width: 600px) {
    .parent {
        flex-direction: column;
    }

    .blessing-details {
        width: 100px;
    }

    .blessing-holder {
        flex-grow: 0;

    }

    .filterer {
        border-top: solid 2px;
    }
}