.blessing-to-display {

    margin-right: 30px;
    margin-bottom: 30px;
    width: fit-content;
}

.advanced-filter-button {
    border-radius: 15px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-right: 30px;
    border: 0;

    background-color: white;
}
.blessing-to-display p{
    margin: 0;
    margin-top: 10px;
}
.blessing-to-display img{

    border: black 2px solid;
}
.image-box {
    width: 200px;
    height: 200px;
    border-radius: 10px; /* Controls the curvature of the edges */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
    background-color: #f0f0f0; /* Optional: adds a background color */
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Match this to the box's border-radius */
}

.blessing-to-display p{
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0; /* Reduce space between paragraphs */
    font-size: 20px; /* Reduce paragraph font size */
}

@media only screen and (max-width: 600px) {
    .image-box {
        width: 100px;
        height: 100px;
    }

    .blessing-to-display p {
        font-size: 10px;
    }

}

.some-para {
    margin-left: 30px;
    font-size: 20px;
    align-self: center;
}

.name-filter-search-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

}

:root {
    --almost-black: #1A1A1A;

}

.filterer-percentage {
    width: 85%;
}

.input-div {

    margin-top: 20px;

    background-color: gray;
    display: flex;
    border-radius: 25px;
    width: 90%;
    height: 35px;

    margin-right: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}

.name-filter {

    background-color: gray;
    width: 80%;
    outline: none;
    font-size: 20px;
    border: none;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 66%;
}
.filterer-outer-dark p{
    color: white;
}
.filterer-outer-light p{
    color: black;
}
.filterer-outer {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;

}

.filterer-outer > * {
    margin-left: 20px;
}

.filterer-outer > p {

    font-size: 20px;
}

.advanced-filter {

    overflow-y: hidden;
    margin: auto;
    width: fit-content;
}

.advanced-filter p {
    color: white;
}

.advanced-filters-show {
    display: inline-block;
}

.filter-basic {


    width: 100%;
    display: flex;

    height: 80px;


}

.blessings-container {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: auto;
    overflow: auto;

    height: 100vh;
}
