@page "/blessings"



@using System.Net.Http.Headers
@using System.Security.Principal
@using Microsoft.AspNetCore.Authorization
@using PublicInfo

@using Website.Components.Navigation
@using Website.Services
@using Website.Components
@inject WebsiteThemeService WebsiteThemeService



@inject HttpClient Http
@attribute [Authorize]
@code{

    private BlessingDto[]? BlessingCollection;

    protected override async Task OnInitializedAsync()
    {
        BlessingCollection = await Http.GetFromJsonAsync<BlessingDto[]>("/BlessingsPage/get-blessings");

    }

    private enum SortType
    {
        Name, Rarity, Stacks
    
    }


    private IEnumerable<BlessingDto>? UsingBlessingCollection
    {
        get
        {
            if (BlessingCollection is null)
                return null;
            var theEnumerable = BlessingCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Name);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
                case SortType.Stacks:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Stacks);
                    break;
            }

            return theEnumerable;
        }
    }



    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortTypeVal = Enum.Parse<SortType>((string)eventArgs.Value!);
    }


    public IEnumerable<string> AddStuff(BlessingDto blessingDto)
    {
        yield return $"Stacks: {blessingDto.Stacks}";
        yield return $"Rarity: {blessingDto.RarityName}";
    }
    private SortType SortTypeVal { get; set; } = SortType.Name;

}
<InventoryEntitiesShower Additionals="AddStuff" BackgroundCol='dto => "white"'
                         RarityDelegate="dto => dto.RarityNum" ObjectsToRender="() 
=> UsingBlessingCollection"
                         NameDelegate="dto => dto.Name"
                         ImageUrlDelegate="dto => dto.ImageUrl"
                         TObjectType="BlessingDto">
    <SorterStuff>
        <p>Sort By</p>
        <select @onchange="SelectChange" class="filterer-percentage" style="height: 30px">

            @foreach (var i in Enum.GetValues<SortType>())
            {
            <option selected="@(SortTypeVal == i)" value="@i">@i</option>
            }

        </select>
    </SorterStuff>
    
</InventoryEntitiesShower>
