@page "/inventory/blessings"
@using Microsoft.AspNetCore.Authorization
@using Website.Components




@inject HttpClient Http
@attribute [Authorize]
<PageTitle>Blessings</PageTitle>
@code{

    private BlessingDto[]? BlessingCollection;

    protected override async Task OnInitializedAsync()
    {
        BlessingCollection = await Http.GetFromJsonAsync<BlessingDto[]>("/BlessingsPage/get-blessings");
    }

    private enum SortType
    {
        Name,
        Rarity,
        Stacks
    }


    private IEnumerable<BlessingDto>? UsingBlessingCollection
    {
        get
        {
            if (BlessingCollection is null)
                return null;
            var theEnumerable = BlessingCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderBy(i => i.Name);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
                case SortType.Stacks:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Stacks);
                    break;
            }

            return theEnumerable;
        }
    }


    public IEnumerable<string> AddStuff(BlessingDto blessingDto)
    {
        yield return string.Concat(Enumerable.Repeat("\u2b50", blessingDto.RarityNum));
        yield return $"Stacks: {blessingDto.Stacks}";
    }

    private SortType SortTypeVal { get; set; } = SortType.Name;

}

<InventoryEntitiesShower Additionals="AddStuff" BackgroundCol='dto => "white"'
                         ObjectsToRender="() => UsingBlessingCollection"
                         NameDelegate="dto => dto.Name"
                         ImageUrlDelegate="dto => dto.ImageUrl"
                         LinkUrlDel='dto => $"/inventory/blessings/{dto.TypeId}"'
                         TObjectType="BlessingDto">

    <SorterStuff>
        <p>Sort By</p>
        <select @bind="SortTypeVal" class="filterer-percentage" style="height: 30px">

            @foreach (var i in Enum.GetValues<SortType>())
            {
                <option value="@i">@i</option>
            }

        </select>
    </SorterStuff>

</InventoryEntitiesShower>