@using Website.Services


@code {
    [CascadingParameter] public WebsiteTheme WebsiteTheme { get; set; }
    [Parameter] public string TheText { get; set; } = "";

    [Parameter] public string Style { get; set; } = "";

}
<div class="main-div" 
     style="
         background-color: @WebsiteTheme.GetThemeDefaults().DefaultBackgroundColor;
         color: @WebsiteTheme.GetThemeDefaults().DefaultColor;
@Style">
   <h1>@TheText</h1>
</div>