.entity-to-display {

    margin-left: 20px;
    margin-right: 20px;
    
    margin-bottom: 30px;
    width: fit-content;
}

.advanced-filter-button {
    border-radius: 15px;
    height: 40px;
    width: 100px;
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: auto;
    border: 0;

    background-color: white;
}


.entity-to-display img{

    border: black 2px solid;
}
.image-box {
    width: 200px;
    height: 200px;
    border-radius: 10px; /* Controls the curvature of the edges */
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Match this to the box's border-radius */
}
.shower-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.shower-container > *{
    flex-shrink: 0;
}
.entity-to-display p {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 20px; /* Reduce paragraph font size */
}
.entity-to-display > .additional-p{
    font-weight: bold;
     font-size: 15px
}
@media only screen and (max-width: 600px) {
    .image-box {
        width: 100px;
        height: 100px;
    }
    .entity-to-display{
        margin-right: 10px;
    }

    .entity-to-display p {
        font-size: 15px;
    }
    .entity-to-display > .additional-p{
        font-size: 11px;
    }
}

.some-para {
    margin-left: 30px;
    font-size: 20px;
    align-self: center;
}

.name-filter-search-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

}

:root {
    --almost-black: #1A1A1A;

}

.filterer-percentage {
    width: 85%;
}


.name-filter {

    background-color: gray;
    width: 80%;
    outline: none;
    font-size: 20px;
    padding-left: 40px;
    border: 2px solid black;

    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
 
    height: 40px;
}
.filterer-outer-dark p{
    color: white;
}
.filterer-outer-light p{
    color: black;
}
.filterer-outer {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;

}

.filterer-outer ::deep > * {
    margin-left: 20px;
}

.filterer-outer ::deep > p {

    font-size: 20px;
}

.advanced-filter {

    overflow-y: hidden;
    margin: auto;
    width: fit-content;
}

.advanced-filter p {
    color: white;
}

.advanced-filters-show {
    display: inline-block;
}

.filter-basic {
    flex-shrink: 0;

    width: 100%;
    display: flex;

    height: 80px;


}

.entities-container {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
   
    margin-top: 30px;
   
    overflow: auto;

    height: fit-content;
}
