.snack-bar-parent{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    
}
div{
    pointer-events: none;
}
.snack-bar-parent p{
    height: fit-content;
    
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
.snack-bar-parent{
    transition: opacity 1.5s;
}
.snack-bar-parent > div{
   
    max-width: 90%;
    width: 500px; 
   
    border-radius: 5px;
    border: gray solid 3px;
    height: 53px;
    min-height: fit-content;
    display: flex;

    margin-top: auto;
    margin-bottom: 50px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    color: white;
}