.snack-bar-parent{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    
}
div{
    pointer-events: none;
}
.snack-bar-parent p{
    height: fit-content;
    font-weight: bolder;
    width: 95%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
}
.snack-bar-parent{
    transition: opacity 1.5s;
}
.snack-bar-parent > div{
   
    width: 100%;
    
    height: 100px;
    min-height: fit-content;
    display: flex;
    background-color: red;
    margin-top: auto;
    color: white;
}