

.inventory-nav-root-div {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: black solid 1px;
}
a{
    color: inherit;
}
a:link {
    text-decoration: none;
}


a:hover{
    background-color: gray;
}
a:visited {
    text-decoration: none;
}

.inventory-page{
    border-left: black solid 1px;
    border-left-color: inherit;
    flex-grow: 1; display: flex; justify-content: center; align-items: center
}
.inventory-page:first-child{
    border: none;
    border-color: inherit;
}
.inventory-page  p{
    font-size: 25px;
}
.za-parent{
    width: 100%; height: 100%; display: flex;
    flex-direction: column;
}
.div-nav-dark:hover{
background-color: #565756;
}
.div-nav-light:hover{
    background-color: lightgrey;
}
@media only screen and (max-width: 600px) {
    .inventory-page:hover{
        background-color: inherit;
    }
    .inventory-page{
        border-left: none;
    }
    .inventory-page span{
        border-radius: 100%;
    }
    a:hover{
        background-color: inherit;
    }

}