/* Main container */

.navigator-container {
  
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-width: 1px;
    overflow-y: hidden;
    height: 100%;
}
.navigator-container > *{
    flex-shrink: 0;
    flex-grow: 0;
}
.toggle-button{
    margin: auto; user-select: none;
}
.child-content-stuff{
    
    width: 100%; 
    height: 100%; 
    overflow: scroll;
}
.navigator-outer-dark{
    color: white;
}
.navigator-outer-light{
    color: black;
}
.navigator-outer {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-link-icon {

    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 17px;
    margin-left: 17px;
}

.navigator-inner {
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}


.navigator-inner p {
    margin: auto;

    font-size: 22px;
}

.link-container a:link {
    text-decoration: none;
}

.link-container a:visited {
    text-decoration: none;
}

* {
    transition: background-color var(--theme-transition-time), color var(--theme-transition-time);
}


.icon-clickable:active {
    text-decoration: none;
   
}

.additional-cont > span{
    font-size: 40px;
   
}
/* Individual link container */
.link-container {
    height: 60px;
    display: flex;

    width: 100%;

}


.icon-clickable-dark:hover {
    background-color: #565756;
}
.icon-clickable-light:hover {
    background-color: lightgrey;
}
.dark-mode-changer-div > *{
    font-size: 32px;
}

/* Link styling */
.link-container a {

    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: flex;
    height: 100%;
    
}

p {
    font-weight: bold;
}

.link-container a p {

    margin-top: auto;
    margin-bottom: auto;

    font-size: 20px;
}

.additional-cont{
    display: flex;
    order: 99;
    width: 100%;
    margin-bottom: 30px; margin-top: auto; margin-left: auto; margin-right: auto;
}
.additional-cont > *{
    margin: auto;
    border-radius: 100%;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    width: 65px; height: 65px; display: flex;
}

.menu-div{
    border-radius: 0;
    display: none;
}
@media only screen and (max-width: 600px) {


     .link-container > a {
        margin: auto;
    }
    
    .link-container{
        margin: 0;
    }
    .navigator-inner {
        display: none;
    }
    .additional-cont {
        margin: 0;
    }
    .navigator-container {
        border-right-style: none;
        border-bottom-style: solid;
        border-bottom-color: inherit;

        width: 100%;
        height: 50px;
        transition: height 0.5s;
    }
   
    .navigator-outer {
        flex-direction: column;
    }
    .link-container, .additional-cont{
        border-bottom: white 1px solid;
        border-bottom-color: inherit;
    }
    .dark-mode-changer-div{
        border-right: white 1px solid;
        border-right-color: inherit;
    }
    .dark-mode-changer-div, .menu-div{
        height: 100%;
    }
    .nav-link-icon {
        margin-left: 0;
        width: 25px;
        height: 25px;
    }
    .additional-cont{
        order: 1;
      
    }
    .dark-mode-changer-div{
        border-radius: 0;
       
    }

    .show-more{
        height: 355px;
        
    }
    .icon-clickable{
        width: 100%;
        height: 50px;
    
    }
    .menu-div{
        display: flex;
    }
    .icon-clickable > span{
        font-size: 35px;
    }
    .link-a span{
        font-size: 25px;
    }


}