@using System.Reflection
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/app.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>


    @code{
        public static readonly string stylesCss = Assembly.GetEntryAssembly().GetName().Name + ".styles.css";
    }

    <link rel="stylesheet" href="@stylesCss"/>
    <HeadOutlet/>
</head>

<body>

<Routes/>

<script src="_framework/blazor.web.js"></script>

<script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
</body>

</html>