@page "/"
@using System.Security.Claims
@using DatabaseManagement
@using Entities.LegendaryBot.Entities.Items
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using WebFunctions
@using WebsiteShared.Components.Navigation

@rendermode InteractiveServer
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject PostgreSqlContext DbContext
<title>Home</title>

@code {
    private ClaimsPrincipal user;

    private int coinsValue;
    private int divineShardsValue;
    private int staminaValue;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var discordId = user.GetDiscordUserId();
        var selected = await DbContext.UserData
            .Where(i => i.DiscordId == discordId)
            .Select(i => new
            {
                coinsCount = i.Items.Where(j => j is Coin)
                    .Select(j => new int?(j.Stacks)).FirstOrDefault(),
                divineShardsCount = i.Items.Where(j => j is DivineShard)
                    .Select(j => new int?(j.Stacks)).FirstOrDefault(),
                staminaValue = i.Items.Where(j => j is Stamina)
                    .Select(j => new int?(j.Stacks)).FirstOrDefault()
            }).FirstOrDefaultAsync();
        if (selected is not null)
        {
            coinsValue = selected.coinsCount.GetValueOrDefault(0);
            staminaValue = selected.staminaValue.GetValueOrDefault(0);
            divineShardsValue = selected.divineShardsCount.GetValueOrDefault(0);
        }
    }

}

<Navigation>
    <div style="display: flex; width: 100%; height: 100%">
        <div style="  width: fit-content;
                      margin-left: auto;
                      margin-right: auto;">
            <img src="@user.GetDiscordUserAvatarUrl()" width="250" height="250"/>
            <p>Welcome, @user.GetDiscordUserName()</p>
            <p>Coins: @coinsValue </p>
        </div>
    </div>
</Navigation>