@page "/characters"
@using System.Security.Claims
@using DiscordBotNet.Database
@using DiscordBotNet.Extensions
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using DiscordBotNet.WebsiteStuff.Components.Navigation
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@inject PostgreSqlContext DbContext
@code{

    private ClaimsPrincipal user;
    private Character[]? CharacterCollection;

    private Character[]? UsingCharacterCollection;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var discordId = user.GetDiscordUserId();
        var anony = await DbContext.UserData
            .AsNoTrackingWithIdentityResolution()
            .Where(i => i.DiscordId == discordId)
            .Include(i => i.Blessings)
            .Select(i =>
                new { i.Characters, i })
            .FirstOrDefaultAsync();
        if (anony is not null)
        {
            CharacterCollection = anony.Characters.ToArray();
        }
        else
        {
            CharacterCollection = [];
        }

        "yo".Print();
        UsingCharacterCollection = CharacterCollection;
    }

    private void FilterWithName(string name)
    {
 
        UsingCharacterCollection = CharacterCollection.Where(i => i.Name.ToLower().Contains(name.ToLower())).ToArray();
     
    }
    
    private string inputValue;
}

<Navigation>
    <button @onclick="() =>  Console.WriteLine('\n')">frfrf</button>
    <p>deded</p>
    <div class="filterer">

        <input type="text" @onchange="args => FilterWithName(args.Value?.ToString())"/>
        <p>@inputValue</p>
    </div>
    @{
        
        if (UsingCharacterCollection is not null)
        {


            <div class="characters-container">
                @foreach (var i in UsingCharacterCollection)
                {
                    <div class="character-to-display">
                        <CharacterSelector Character="i" Size="200"/>
                    </div>
                }
            </div>

        }

    }


</Navigation>