@page "/characters"
@using System.Security.Claims
@using DiscordBotNet.Database
@using DiscordBotNet.Extensions
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using DiscordBotNet.WebsiteStuff.Components.Navigation
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@inject PostgreSqlContext DbContext
@code{

    private ClaimsPrincipal user;
    private Character[]? CharacterCollection;

    private Character[]? UsingCharacterCollection;

    private string _nameFilter = String.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var discordId = user.GetDiscordUserId();
        var anony = await DbContext.UserData
            .AsNoTrackingWithIdentityResolution()
            .Where(i => i.DiscordId == discordId)
            .Include(i => i.Blessings)
            .Select(i =>
                new { i.Characters, i })
            .FirstOrDefaultAsync();
        if (anony is not null)
        {
            CharacterCollection = anony.Characters.ToArray();
        }
        else
        {
            CharacterCollection = [];
        }

       
        UsingCharacterCollection = CharacterCollection;
    }

    private static int count = 0;

    private void RefreshFilters()
    {
        UsingCharacterCollection = CharacterCollection
            .Where(i => i.Name.ToLower().Contains(_nameFilter))
            .ToArray();
    }
    private void FilterWithName(string name)
    {
        _nameFilter = name;
        RefreshFilters();
     
    }
    
    private string inputValue;
}

<Navigation>
 
    <div class="filterer">

        <input class="name-filter" type="text" @onchange="args => FilterWithName(args.Value?.ToString())"
               />
        <p>@inputValue</p>
    </div>
    @{
    
        if (UsingCharacterCollection is not null)
        {


            <div class="characters-container">
                @foreach (var i in UsingCharacterCollection)
                {
                    <div class="character-to-display">
                        <CharacterSelector Character="i" Size="200"/>
                    </div>
                }
            </div>

        }

    }


</Navigation>