.character-to-display{
    max-width: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
}
.filterer{


    top: 0;
    left: 0;
    width: 100%;
    background-color: red; /* Optional: Change to your desired background color */
    padding: 0px; /* Optional: Adjust padding */
    margin: 0;
    height: 80px;
    display: flex;
    
}
.characters-container{
    display: flex; flex-wrap: wrap;   max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

    height: 100vh;
}
