@page "/characters"
@using System.Security.Claims
@using DiscordBotNet.Database
@using DiscordBotNet.LegendaryBot.Entities.BattleEntities.Characters.CharacterPartials
@using DiscordBotNet.WebsiteStuff.Components.Navigation
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveWebAssembly
@inject PostgreSqlContext DbContext
@attribute [Authorize]
@code{

    private ClaimsPrincipal user;
    private Character[]? CharacterCollection;

    private Character[]? UsingCharacterCollection;

    private string _nameFilter = String.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        var discordId = user.GetDiscordUserId();
        var anony = await DbContext.UserData
            .AsNoTrackingWithIdentityResolution()
            .Where(i => i.DiscordId == discordId)
            .Include(i => i.Blessings)
            .Select(i =>
                new { i.Characters, i })
            .FirstOrDefaultAsync();
        if (anony is not null)
        {
            CharacterCollection = anony.Characters.ToArray();
        }
        else
        {
            CharacterCollection = [];
        }

       
        UsingCharacterCollection = CharacterCollection;
    }

    private static int count = 0;

    private void RefreshFilters()
    {
        IEnumerable<Character> theEnumerable = CharacterCollection
            .Where(i => i.Name.ToLower().Contains(_nameFilter));
        switch (SortingMethod)
        {
            case "name":
                theEnumerable = theEnumerable.OrderBy(i => i.Name);
                break;
            case "level":
                theEnumerable = theEnumerable.OrderBy(i => i.Level);
                break;
                
        }

        if (reverseOrder)
            theEnumerable = theEnumerable.Reverse();
        UsingCharacterCollection = theEnumerable.ToArray();
      

    }
    private void FilterWithName(ChangeEventArgs eventArgs)
    {
        _nameFilter = eventArgs.Value?.ToString();
        RefreshFilters();
     
    }

    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortingMethod = eventArgs.Value?.ToString();
        RefreshFilters();
    }
    
    public string SortingMethod = "level";
    public bool reverseOrder = false;
}

<Navigation>
 
    <div class="filterer">
    
        <input class="name-filter" type="text" @onchange="FilterWithName"/>
        <p class="some-para">Sort By</p>
        <select  @onchange="SelectChange" name="Sort By" style="width: 100px; height:35px; align-self: center;
margin-left: 30px">
            <option value="level">Level</option>
            <option value="name">Name</option>
        </select>
        <p class="some-para">Reverse Order</p>
        <input  type="checkbox" style="width:25px; height:25px; align-self: center; margin-left: 30px;" @onchange="b => { reverseOrder = (bool) b.Value ; RefreshFilters(); }"></input>
    </div>
    @SortingMethod
    @{
   
        if (UsingCharacterCollection is not null)
        {


            <div class="characters-container">
                @foreach (var i in UsingCharacterCollection)
                {
                    <div class="character-to-display">
                        <CharacterIconItem Character="i"/>
                    </div>
                }
            </div>

        }

    }


</Navigation>