.character-div p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.idk-for-now{
    display: flex;
    column-gap: 10px;

}
.idk-for-now p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.search-stuff{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.search-stuff > div{
    flex-grow: 1;
    padding-left: 10px;
}

.equipment-navigator{
    display: flex; height: 50px; width: 100%;
    border-bottom: solid 1px;
}
.equipment-navigator > div{
    justify-content: center;
    align-items: center;
    display: flex;
}
.parent img{
    width: 180px;
    height: 180px;
    border: solid 2px;
    border-radius: 10px;
}
.equipment-n-stats{
    flex-shrink: 0;
    max-width: fit-content;
    overflow: auto;
    padding-right: 50px;
    display: flex; flex-grow: 1; flex-direction: column; margin-left: 20px;
    padding-top: 20px;
    border-right: solid 1px;
}
.parent{
    display: flex; width: 100%; height: 100%; flex-direction: column;

}
.equipment-navigator > div > p{
    width: fit-content;
    height: fit-content;
    margin: 0;
    
}
.character-stats-shower{
    margin-top: auto;
    height: fit-content;
}
.character-stats-shower p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.the-stuff-to-search{

    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    
    align-content: flex-start;
    gap: 15px;
  
    overflow-y: auto;
    height: fit-content;
}
.the-stuff-to-search > div{
  
    height: fit-content;
    position: relative;
    
}
.the-hover-shit{
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 1;
    border: solid 2px;
    border-radius: 10px;
    width: max-content;
    max-width: 400px;
    position: absolute;
    padding-right: 30px;
}


.the-stuff-to-search img{
    width: 100px;
    height: 100px;

    border: solid 2px;
    border-radius: 10px;

}
.filterer-stuff{
    flex-shrink: 0;
    height: 45px;
    display: flex; border-bottom: solid 1px;
}
.filterer-stuff > input{
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    border: solid 1px;
}
.the-stuff-to-search p{
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.en-totale{
    flex-grow: 1; display: flex; height: 0
}
.the-hover-shit p{
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
}
.the-hover-shit > *{
    margin-left: 20px;
}
.idk-for-now{
    font-weight: bold;    
}
@media only screen and (max-width: 600px) {
    .en-totale{
        flex-direction: column;
    }
    .character-stats-shower{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .the-stuff-to-search{
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        flex-grow: 1;
        height: 200px;
    }
    .equipment-n-stats{
        padding-right: 0;
        border: none;
        max-width: 100%;
        height: max-content;
        margin-left: 0;
    }
    .search-stuff{
        border-top: solid 1px;
        padding-top: 5px;
    }
    .the-hover-shit{
        order: 1;
    }
    .idk-for-now p{
        font-size: 15px;
    }
    .the-stuff-to-search > div{
        display: flex;
        flex-direction: column;
    }
    .character-stats-shower{
        margin-top: 10px;
    }
    .idk-for-now{
        column-gap: 0;
        justify-content: space-around;
    }
    .filterer-stuff > input{
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
        border: solid 1px;
    }
    .parent img{
        width: 120px;
        height: 120px;
        
    }
    .character-stats-shower p{
        font-size: 15px;
    }
    
    .the-stuff-to-search p{
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}