.character-div p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.idk-for-now{
    display: flex;
    column-gap: 10px;
}
.the-stuff-to-search{
    display: flex;
    flex-wrap: wrap;
}
.the-stuff-to-search img{
    width: 100px;
    height: 100px;
   
    border: solid 1px;
    border-right: 10px;
}
.search-stuff{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.search-stuff > div{
    flex-grow: 1;
    padding-left: 10px;
}

.equipment-navigator{
    display: flex; height: 50px; width: 100%;
    border-bottom: solid 1px;
}
.equipment-navigator > div{
    justify-content: center;
    align-items: center;
    display: flex;
}
.parent img{
    width: 180px;
    height: 180px;

}
.equipment-n-stats{
    max-width: fit-content;
    
    padding-right: 50px;
    display: flex; flex-grow: 1; flex-direction: column; margin-left: 20px;
    padding-top: 20px;
    border-right: solid 1px;
}
.parent{
    display: flex; width: 100%; height: 100%; flex-direction: column
}
.equipment-navigator > div > p{
    width: fit-content;
    height: fit-content;
    margin: 0;
    
}
.character-stats-shower{
    margin-top: auto;
    height: fit-content;
}
.character-stats-shower p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}