@page "/characters"
@using Microsoft.AspNetCore.Authorization

@using Website.Components



@inject HttpClient Http
@attribute [Authorize]
@code{

    private CharacterDto[]? CharacterCollection;

    protected override async Task OnInitializedAsync()
    {
        CharacterCollection = await Http.GetFromJsonAsync<CharacterDto[]>("/CharactersPage/get-characters");

    }

    private enum SortType
    {
        Name,
        Level,
        Rarity
    }


    private IEnumerable<CharacterDto>? UsingCharacterCollection
    {
        get
        {
            if (CharacterCollection is null)
                return null;
            var theEnumerable = CharacterCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Name);
                    break;
                case SortType.Level:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Level);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
            }
            return theEnumerable;
        }
    }




    private void SelectChange(ChangeEventArgs eventArgs)
    {
        SortTypeVal = Enum.Parse<SortType>((string)eventArgs.Value!);
    }




    public IEnumerable<string> AdditionalStuff(CharacterDto characterDto)
    {
        yield return $"Lvl {characterDto.Level}";
        yield return $"Num {characterDto.Number}";
    }

    private SortType SortTypeVal { get; set; } = SortType.Level;

}


<InventoryEntitiesShower LinkUrlDel='dto => "/character"' Additionals="AdditionalStuff" BackgroundCol="dto => dto.Color" RarityDelegate="dto => dto.RarityNum" ObjectsToRender="() 
=> UsingCharacterCollection"
                         NameDelegate="dto => dto.Name"
                         ImageUrlDelegate="dto => dto.ImageUrl"
                         TObjectType="CharacterDto">
    <SorterStuff>
        <p>Sort By</p>
        <select @onchange="SelectChange" class="filterer-percentage" style="height: 30px; width: 80%">
            @foreach (var i in Enum.GetValues<SortType>())
            {
                <option selected="@(SortTypeVal == i)" value="@i">@i</option>
            }
        </select>
    </SorterStuff>
    
</InventoryEntitiesShower>