@page "/inventory/characters/{CharacterNumber:int}"
@using Microsoft.AspNetCore.Authorization
@using Website.Components.Navigation
@using Website.Components

@attribute [Authorize]

@inject HttpClient Http

@code {
    [Parameter] public int CharacterNumber { get; set; }

    protected CharacterInfoDto? Dto { get; set; }
    private string? ErrorMessage;
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetAsync($"CharacterInfoPage/get?characterNumber={CharacterNumber}");
        if (!result.IsSuccessStatusCode)
            ErrorMessage = await result.Content.ReadAsStringAsync();
        else
        {
            Dto = await result.Content.ReadFromJsonAsync<CharacterInfoDto>();
        }
    }

}


<InventoryNavigation>
    @if (Dto is not null)
    {
        <div style="display: flex">
            <div class="character-div">
                <img style="width: 200px; height: 200px" src="@Dto.CharacterDto.ImageUrl">
                <p>@Dto.CharacterDto.Name</p>
                <p>Level: @Dto.CharacterDto.Level</p>
                <p>Num @Dto.CharacterDto.Number</p>
            </div>  
    
        </div>

    }
    else if(ErrorMessage is not null)
    {
        <HugeText TheText=@ErrorMessage></HugeText>
    }
    else
    {
        <HugeText TheText="Loading..."></HugeText>
    }
</InventoryNavigation>