@page "/inventory/characters"
@using Microsoft.AspNetCore.Authorization
@using Website.Components



@inject HttpClient Http
@attribute [Authorize]

@code{

    private CharacterDto[]? _characterCollection;

    protected override async Task OnInitializedAsync()
    {
        _characterCollection = await Http.GetFromJsonAsync<CharacterDto[]>("/CharactersPage/get-characters");
    }

    private enum SortType
    {
        Name,
        Level,
        Rarity
    }


    private IEnumerable<CharacterDto>? UsingCharacterCollection
    {
        get
        {
            if (_characterCollection is null)
                return null;
            var theEnumerable = _characterCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderBy(i => i.Name);
                    break;
                case SortType.Level:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Level);
                    break;
                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
            }

            return theEnumerable;
        }
    }


    public IEnumerable<string> AdditionalStuff(CharacterDto characterDto)
    {
        yield return $"Lvl {characterDto.Level}";
        yield return $"Num {characterDto.Number}";
    }

    private SortType SortTypeVal { get; set; } = SortType.Level;


}


<InventoryEntitiesShower

    LinkUrlDel='dto => $"/inventory/characters/{dto.Number}"' Additionals="AdditionalStuff" BackgroundCol="dto => dto.Color" ObjectsToRender="() => UsingCharacterCollection"
    NameDelegate="dto => dto.Name"
    ImageUrlDelegate="dto => dto.ImageUrl"
    TObjectType="CharacterDto">
    <SorterStuff>
        <p>Sort By</p>
        <select @bind="SortTypeVal" class="filterer-percentage" style="height: 30px; width: 80%">
            @foreach (var i in Enum.GetValues<SortType>())
            {
                <option value="@i">@i</option>
            }
        </select>
    </SorterStuff>

</InventoryEntitiesShower>