@page






@using DiscordBotNet.Extensions
@using DiscordBotNet.Pages.WebComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DiscordBotNet.Pages.IndexModel
@{
    Layout = "Shared/_NavigationLayout";
    
}
<head>
    <link rel="stylesheet" type="text/css" href="css/Home.css">
    <title>Home</title>
</head>
<body>

<div id="welcome_div">
    <component type="typeof(NavigationBar)" render-mode="ServerPrerendered"/>
</div>

</body>