@page






@using DiscordBotNet.Pages.WebComponents
@model DiscordBotNet.Pages.IndexModel
@{
    Layout = "Shared/_NavigationLayout";
    
}
<head>
    <link rel="stylesheet" type="text/css" href="css/Home.css">
    <title>Home</title>
</head>
<body>

<div id="welcome_div">
    <component type="typeof(NavigationBar)" render-mode="Static"/>

</div>

</body>