@page "/inventory/gears"
@using Microsoft.AspNetCore.Authorization
@using Website.Components



@inject HttpClient Http
@attribute [Authorize]

@code{

    private GearDto[]? GearCollection;

    protected override async Task OnInitializedAsync()
    {
        GearCollection = await Http.GetFromJsonAsync<GearDto[]>("/GearsPage/get-gears");
    }

    private enum SortType
    {
        Name,

        Rarity
    }


    private IEnumerable<GearDto>? UsingGearCollection
    {
        get
        {
            if (GearCollection is null)
                return null;
            var theEnumerable = GearCollection.AsEnumerable();
            switch (SortTypeVal)
            {
                case SortType.Name:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.Name);
                    break;

                case SortType.Rarity:
                    theEnumerable = theEnumerable.OrderByDescending(i => i.RarityNum);
                    break;
            }

            return theEnumerable;
        }
    }


    public IEnumerable<string> AdditionalStuff(GearDto gearDto)
    {
        yield return string.Concat(Enumerable.Repeat("\u2b50", gearDto.RarityNum));
        yield return $"Num {gearDto.Number}";
    }

    private SortType SortTypeVal { get; set; } = SortType.Name;

}


<InventoryEntitiesShower Additionals="AdditionalStuff" BackgroundCol='dto => "white"'
                 ObjectsToRender="() => UsingGearCollection"
                         NameDelegate="dto => dto.Name"
                         ImageUrlDelegate="dto => dto.ImageUrl"
                         TObjectType="GearDto">
    <SorterStuff>
        <p>Sort By</p>
        <select @bind="SortTypeVal" class="filterer-percentage" style="height: 30px; width: 80%">
            @foreach (var i in Enum.GetValues<SortType>())
            {
                <option value="@i">@i</option>
            }
        </select>
    </SorterStuff>

</InventoryEntitiesShower>